@keyframes glow {
  0% {
    box-shadow: 0 0 2px white;
    text-shadow: 0 0 2px white;
  }
  100% {
    box-shadow: 0 0 16px white;
    text-shadow: 0 0 16px white;
  }
}

@media screen and (min-width: 600px) {
  
  .main-content-cta {
    -webkit-animation: glow 0.5s ease-in-out infinite alternate;
    -moz-animation: glow 0.5s ease-in-out infinite alternate;
    -ms-animation: glow 0.5s ease-in-out infinite alternate;
    -o-animation: glow 0.5s ease-in-out infinite alternate;
    animation: glow 0.5s ease-in-out infinite alternate;
  }
  
  .tour {
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  } .tour:hover {
    z-index: 1;
    -webkit-transform: scale(1.1) translate3d(0,0,0);
    -moz-transform: scale(1.1) translate3d(0,0,0);
    -ms-transform: scale(1.1) translate3d(0,0,0);
    -o-transform: scale(1.1) translate3d(0,0,0);
    transform: scale(1.1) translate3d(0,0,0);
  } .tour:hover:before {
    z-index: -1;
  }
  
  #modal-fade {
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in;
    -moz-transition: opacity 0.5s ease-in;
    -ms-transition: opacity 0.5s ease-in;
    -o-transition: opacity 0.5s ease-in;
    transition: opacity 0.5s ease-in;
  } #modal.show #modal-fade {
    opacity: 1;
    -webkit-transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -ms-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out;
  }
  
  #modal-body {
    opacity: 0;
    -webkit-transform: translateY(32px);
    -moz-transform: translateY(32px);
    -ms-transform: translateY(32px);
    -o-transform: translateY(32px);
    transform: translateY(32px);
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
  } #modal.show #modal-body {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
  }
  
  @keyframes place01 {
    40% {
      background: url(../img/places/opera.jpg) center center / cover no-repeat;
    }
    50% {
      background: url(../img/places/night.jpg) center center / cover no-repeat;
    }
    90% {
      background: url(../img/places/night.jpg) center center / cover no-repeat;
    }
  }

  #place01 .place-photo {
    -webkit-animation: place01 10s linear 4s infinite;
    -moz-animation: place01 10s linear 4s infinite;
    -ms-animation: place01 10s linear 4s infinite;
    -o-animation: place01 10s linear 4s infinite;
    animation: place01 10s linear 4s infinite;
  }
  
  @keyframes place02 {
    40% {
      background: url(../img/places/opera-02.jpg) center center / cover no-repeat;
    }
    50% {
      background: url(../img/places/pyramid.jpg) center center / cover no-repeat;
    }
    90% {
      background: url(../img/places/pyramid.jpg) center center / cover no-repeat;
    }
  }

  #place02 .place-photo {
    -webkit-animation: place02 10s linear 2s infinite;
    -moz-animation: place02 10s linear 2s infinite;
    -ms-animation: place02 10s linear 2s infinite;
    -o-animation: place02 10s linear 2s infinite;
    animation: place02 10s linear 2s infinite;
  }
  
  @keyframes place03 {
    40% {
      background: url(../img/places/kmg.jpg) center center / cover no-repeat;
    }
    50% {
      background: url(../img/places/shatyr-02.jpg) center center / cover no-repeat;
    }
    90% {
      background: url(../img/places/shatyr-02.jpg) center center / cover no-repeat;
    }
  }

  #place03 .place-photo {
    -webkit-animation: place03 10s linear 8s infinite;
    -moz-animation: place03 10s linear 8s infinite;
    -ms-animation: place03 10s linear 8s infinite;
    -o-animation: place03 10s linear 8s infinite;
    animation: place03 10s linear 8s infinite;
  }
  
  @keyframes place04 {
    40% {
      background: url(../img/places/shatyr.jpg) center center / cover no-repeat;
    }
    50% {
      background: url(../img/places/hazretsultan.jpg) center center / cover no-repeat;
    }
    90% {
      background: url(../img/places/hazretsultan.jpg) center center / cover no-repeat;
    }
  }

  #place04 .place-photo {
    -webkit-animation: place04 10s linear 6s infinite;
    -moz-animation: place04 10s linear 6s infinite;
    -ms-animation: place04 10s linear 6s infinite;
    -o-animation: place04 10s linear 6s infinite;
    animation: place04 10s linear 6s infinite;
  }
  
  @keyframes place05 {
    40% {
      background: url(../img/places/bayterek.jpg) center center / cover no-repeat;
    }
    50% {
      background: url(../img/places/esil-01.jpg) center center / cover no-repeat;
    }
    90% {
      background: url(../img/places/esil-01.jpg) center center / cover no-repeat;
    }
  }

  #place05 .place-photo {
    -webkit-animation: place05 10s linear 10s infinite;
    -moz-animation: place05 10s linear 10s infinite;
    -ms-animation: place05 10s linear 10s infinite;
    -o-animation: place05 10s linear 10s infinite;
    animation: place05 10s linear 10s infinite;
  }
  
}