section {
  overflow-x: hidden;
}

#main {
  height: calc(100vh + 160px);
  min-height: calc(800px + 160px);
  background-image: url(../img/main.jpg);
  background-position: center top;
  background-repeat: no-repeat;/*
  background-size: cover;*/
}

#main .flex-container {
  height: 100vh;
  min-height: 800px;
}

.main-navigation {
}

.main-navigation a {
  line-height: 1;
  font-weight: 900;
  color: white;
}

.main-navigation-cta {
  display: block;
  padding: 8px 12px;
  border: 2px solid white;
}

.main-content {
}

.main-content-cta {
  margin-top: 32px;
  margin-bottom: 64px;
  padding: 12px 24px;
  line-height: 1;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  border: 4px solid white;
  background-color: rgba(0,0,0, 0.5);
  color: white;
  box-shadow: 0 0 2px white;
  text-shadow: 0 0 2px white;
}





#tours {
  margin-top: -128px;
}

.tour {
  cursor: pointer;
  flex-shrink: 0;
  position: relative;
  width: 239px;
  margin: 0.5px;
  font-size: 11px;
  line-height : 16px;
  background-color: white;
  color : #757575;
} .tour:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: black;
  box-shadow: 0 8px 32px rgba(0,0,0, 0.10);
}

.tour-photo {
  position: relative;
} .tour-photo:before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: 64px;
  height: 64px;
  background: url(/img/sale.png) center / cover no-repeat;
} .tour-photo:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: -1px;
  background : -moz-linear-gradient(50% 0% -90deg,rgba(255, 255, 255, 0) 0%,rgba(255, 255, 255, 0.04) 3.84%,rgba(255, 255, 255, 1) 100%);
  background : -webkit-linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.04) 3.84%, rgba(255, 255, 255, 1) 100%);
  background : -webkit-gradient(linear,50% 0% ,50% 100% ,color-stop(0,rgba(255, 255, 255, 0) ),color-stop(0.0384,rgba(255, 255, 255, 0.04) ),color-stop(1,rgba(255, 255, 255, 1) ));
  background : -o-linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.04) 3.84%, rgba(255, 255, 255, 1) 100%);
  background : -ms-linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.04) 3.84%, rgba(255, 255, 255, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#FFFFFF' ,GradientType=0)";
  background : linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.04) 3.84%, rgba(255, 255, 255, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF',endColorstr='#FFFFFF' , GradientType=0);
}

#walkingTour .tour-photo {
  background: url(../img/tours/walking.jpg) center center no-repeat;
  background-size: cover;
}

#halfdayTour .tour-photo {
  background: url(../img/tours/halfday.jpg) center center no-repeat;
  background-size: cover;
}

#fulldayTour .tour-photo {
  background: url(../img/tours/oneday.jpg) center center no-repeat;
  background-size: cover;
}

#riverTour .tour-photo {
  background: url(../img/tours/river.jpg) center center no-repeat;
  background-size: cover;
}

#burabayTour .tour-photo {
  background: url(../img/tours/burabay.jpg) center center no-repeat;
  background-size: cover;
}

.tour-content {
  padding: 0 24px 24px;
  background: white;
}

.tour-title {
  font-size: 18px;
  font-weight: 700;
  color : #424242;
} .tour-title span {
  display: inline-block;
  margin-top: 8px;
  padding: 4px 8px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: red;
  color: white;
}

.tour-description {
  
}

.tour-price {
  line-height : 16px;
  font-size: 21px;
  font-weight: 700;
  color : #2196F3;
} .tour-price span {
  font-size : 14px;
}





#places {
  
}

.place-photo {
  box-shadow: 0 0 0 16px white inset, 0 8px 32px rgba(0,0,0, 0.10);
}

#place01 .place-photo {
  background: url(../img/places/opera.jpg) center center no-repeat;
  background-size: cover;
}

#place02 .place-photo {
  background: url(../img/places/opera-02.jpg) center center no-repeat;
  background-size: cover;
}

#place03 .place-photo {
  background: url(../img/places/kmg.jpg) center center no-repeat;
  background-size: cover;
}

#place04 .place-photo {
  background: url(../img/places/shatyr.jpg) center center no-repeat;
  background-size: cover;
}

#place05 .place-photo {
  background: url(../img/places/bayterek.jpg) center center no-repeat;
  background-size: cover;
}

.places-hashtag {
  font-size: 24px;
  line-height: 34px;
} .places-hashtag span {
  font-weight: 700;
  color: #01579b;
}





#guides {
  
}

.guides-content {
  position: relative;
}

.guides-slider {
  transform-style: preserve-3d;
  transform: perspective(900px);
}

[class*="guides-slider-button"] {
  position: absolute;
  top: calc(50% - 20px);
  width: 40px;
  height: 40px;
  background: black;
  color: white;
}

.guides-slider-button-previous {
  left: 0;
}

.guides-slider-button-next {
  right: 0;
}

.guide {
  background: white;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.-hideToLeft {
  opacity: 0;
  margin-right: -25%;
  transform-origin: center left;
  -webkit-transform: rotate3d(0,1,0,90deg);
  -moz-transform: rotate3d(0,1,0,90deg);
  -ms-transform: rotate3d(0,1,0,90deg);
  -o-transform: rotate3d(0,1,0,90deg);
  transform: rotate3d(0,1,0,90deg);
}

.-hideToRight {
  opacity: 0;
  margin-left: -25%;
  transform-origin: center right;
  -webkit-transform: rotate3d(0,1,0,-90deg);
  -moz-transform: rotate3d(0,1,0,-90deg);
  -ms-transform: rotate3d(0,1,0,-90deg);
  -o-transform: rotate3d(0,1,0,-90deg);
  transform: rotate3d(0,1,0,-90deg);
}

#guide01 .guide-photo {
  background: url(../img/guides/01.jpg) center center no-repeat;
  background-size: cover;
}

#guide02 .guide-photo {
  background: url(../img/guides/02.jpg) center center no-repeat;
  background-size: cover;
}

#guide03 .guide-photo {
  background: url(../img/guides/03.jpg) center center no-repeat;
  background-size: cover;
}

#guide04 .guide-photo {
  background: url(../img/guides/04.jpg) center center no-repeat;
  background-size: cover;
}

#guide05 .guide-photo {
  background: url(../img/guides/05.jpg) center center no-repeat;
  background-size: cover;
}

#guide06 .guide-photo {
  background: url(../img/guides/06.jpg) center center no-repeat;
  background-size: cover;
}

#guide07 .guide-photo {
  background: url(../img/guides/07.jpg) center center no-repeat;
  background-size: cover;
}

#guide08 .guide-photo {
  background: url(../img/guides/08.jpg) center center no-repeat;
  background-size: cover;
}

.guide-name {
  line-height: 1;
  font-size: 24px;
  font-weight: 600;
}





#booking {
  position: relative;
  height: 700px;
  background: url(../img/book.png) center top no-repeat;
} #booking:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 25%;
  background : -moz-linear-gradient(50% 100% 90deg,rgba(255, 255, 255, 0) 0%,rgba(255, 255, 255, 1) 100%);
  background : -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  background : -webkit-gradient(linear,50% 100% ,50% 0% ,color-stop(0,rgba(255, 255, 255, 0) ),color-stop(1,rgba(255, 255, 255, 1) ));
  background : -o-linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  background : -ms-linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#FFFFFF' ,GradientType=0)";
  background : linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF',endColorstr='#FFFFFF' , GradientType=0);
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.booking-header, .booking-content {
  z-index: 1;
}

.booking-form {
  line-height: 40px;
  padding: 12px;
  background: white;
}

.booking-form input {
  line-height: 40px;
  max-height: 40px;
  padding: 0 12px;
  border: none;
  font-size: 14px;
}

.booking-form input[name="name"] {
  width: 100%;
  border-right: 1px solid rgba(0,0,0, 0.10);
}

.booking-form-messenger {
  flex-wrap: wrap;
  height: 40px;
} .booking-form-messenger:hover {
  height: 120px;
}

.booking-form-messenger label {
  padding: 0 12px;
  background: white;
} .booking-form-messenger:hover label {
  display: block !important;
}

input[name="messenger"] {
  display: none;
}

#messenger-email:checked ~ label[for="messenger-email"] {
  order: 0;
}

#messenger-email:not(:checked) ~ label[for="messenger-email"] {
  order: 1;
  display: none;
}

#messenger-email:checked ~ input[name="email"] {
  order: 10;
}

#messenger-email:not(:checked) ~ input[name="email"] {
  display: none;
}

#messenger-whatsapp:checked ~ label[for="messenger-whatsapp"] {
  order: 0;
}

#messenger-whatsapp:not(:checked) ~ label[for="messenger-whatsapp"] {
  order: 2;
  display: none;
}

#messenger-whatsapp:checked ~ input[name="whatsapp"] {
  order: 10
}

#messenger-whatsapp:not(:checked) ~ input[name="whatsapp"] {
  display: none;
}

#messenger-telegram:checked ~ label[for="messenger-telegram"] {
  order: 0;
}

#messenger-telegram:not(:checked) ~ label[for="messenger-telegram"] {
  order: 3;
  display: none;
}

#messenger-telegram:checked ~ input[name="telegram"] {
  order: 10;
}

#messenger-telegram:not(:checked) ~ input[name="telegram"] {
  display: none;
}