@media screen and (min-width: 900px) {

  .tour.-hideToLeft {
    margin-right: -25%;
  }

  .tour.-hideToRight {
    margin-left: -25%;
  }

  .guide.-hideToLeft {
    margin-right: -33.33%;
  }

  .guide.-hideToRight {
    margin-left: -33.33%;
  }
  
}