@media screen and (min-width: 600px) {

  .tour.-hideToLeft {
    margin-right: -33.33%;
  }

  .tour.-hideToRight {
    margin-left: -33.33%;
  }

  .guide.-hideToLeft {
    margin-right: -50%;
  }

  .guide.-hideToRight {
    margin-left: -50%;
  }
  
  .booking-form-contact:hover {
    height: 120px;
  } .booking-form-contact:hover label {
    display: flex !important;
  }
  
  .booking-form-messenger:hover {
    height: 120px;
  } .booking-form-messenger:hover label {
    display: flex !important;
  }
  
}