html {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.6;
  color : #424242;
}

:disabled {
  cursor: not-allowed;
  opacity: 0.25;
}

a {
  text-decoration: none;
}

h1 {
  position: absolute;
  right: 100%;
}

h2 {
  text-align: center;
  font-family: 'Marck Script', cursive;
  font-size: 64px;
  line-height: 1;
  font-weight: 300;
  -webkit-transform: rotate(-9deg);
  -moz-transform: rotate(-9deg);
  -ms-transform: rotate(-9deg);
  -o-transform: rotate(-9deg);
  transform: rotate(-9deg);
  color: white;
  text-shadow: 0 0 64px #ffaf48, 0 0 64px #ffaf48, 0 0 64px #ffaf48, 0 0 64px #ffaf48, 0 0 64px #ffaf48, 0 0 64px #ffaf48, 0 0 64px #ffaf48;
}

h3 {
  margin: 0;
  line-height: 1;
  font-size: 48px;
  font-weight: 700;
}

h4 {
  margin: 0;
  line-height: 1;
  font-size: 24px;
  font-weight: 700;
}

h5 {
  margin: 0;
  line-height: 1;
  font-size: 18px;
  font-weight: 700;
}

.vertical {
  display: flex;
}.vertical:after {
  content: "";
  display: block;
  width: 1px;
  background-color: rgba(0,0,0, 0.10);
}

input, select {
  outline: none;
}

.input {
  flex-grow: 0;
  height: 40px;
  line-height: 40px;
  padding: 0 12px;
}

::-webkit-input-placeholder {
  color: #bbb;
}
::-moz-placeholder {
  color: #bbb;
}
:-ms-input-placeholder {
  color: #bbb;
}
:-moz-placeholder {
  color: #bbb;
}