@media screen and (max-width: 600px) {
  
  #main {
    min-height: 0;
    background: url(../img/mobile.jpg) center top no-repeat;
    background-size: cover;
  }
  
  #main .flex-container {
    min-height: 0;
  }
  
  h2 {
    font-size: 40px;
  }
  
  h3 {
    font-size: 36px;
  }
  
  .places-hashtag {
    font-size: 18px;
  }

  .tour.-hideToLeft {
    margin-right: -100%;
  }

  .tour.-hideToRight {
    margin-left: -100%;
  }

  .guide.-hideToLeft {
    margin-right: -100%;
  }

  .guide.-hideToRight {
    margin-left: -100%;
  }
  
  .booking-form input[name="name"] {
    border-right: none;
    border-bottom: 1px solid rgba(0,0,0, 0.10);
  }
  
}